.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login img {
    margin: 30px auto;
    object-fit: contain;
    width: 100px;

}
.login_container {
    width: 350px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 20px;

}